/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Model } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { FormRecognizerClient } from "../formRecognizerClient";
import {
  ModelGetOptionalParams,
  ModelGetResponse,
  ModelDeleteOptionalParams,
  ModelDeleteResponse
} from "../models";

/** Class containing Model operations. */
export class ModelImpl implements Model {
  private readonly client: FormRecognizerClient;

  /**
   * Initialize a new instance of the class Model class.
   * @param client Reference to the service client
   */
  constructor(client: FormRecognizerClient) {
    this.client = client;
  }

  /**
   * @param modelId
   * @param options The options parameters.
   */
  get(
    modelId: string,
    options?: ModelGetOptionalParams
  ): Promise<ModelGetResponse> {
    return this.client.sendOperationRequest(
      { modelId, options },
      getOperationSpec
    );
  }

  /**
   * @param modelId
   * @param options The options parameters.
   */
  delete(
    modelId: string,
    options?: ModelDeleteOptionalParams
  ): Promise<ModelDeleteResponse> {
    return this.client.sendOperationRequest(
      { modelId, options },
      deleteOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/formrecognizer/documentModels/{modelId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ModelsModelInfo
    },
    400: {
      bodyMapper: Mappers.ErrorResponse
    },
    403: {
      bodyMapper: Mappers.ErrorResponse
    },
    404: {
      bodyMapper: Mappers.ErrorResponse
    },
    429: {
      bodyMapper: Mappers.ErrorResponse
    },
    500: {
      bodyMapper: Mappers.ErrorResponse
    },
    502: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.modelId],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/formrecognizer/documentModels/{modelId}",
  httpMethod: "DELETE",
  responses: {
    200: {
      bodyMapper: {
        type: { name: "Dictionary", value: { type: { name: "any" } } }
      }
    },
    400: {
      bodyMapper: Mappers.ErrorResponse
    },
    403: {
      bodyMapper: Mappers.ErrorResponse
    },
    404: {
      bodyMapper: Mappers.ErrorResponse
    },
    429: {
      bodyMapper: Mappers.ErrorResponse
    },
    500: {
      bodyMapper: Mappers.ErrorResponse
    },
    502: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.modelId],
  headerParameters: [Parameters.accept],
  serializer
};
